#about__container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}

#about__container-dark {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: rgb(127, 127, 127);
  color: white;
}

.about__title {
  text-align: center;
  font-family: opensans-bold, sans-serif;
  font-size: 18px;
  padding: 60px 0 30px 0;
  letter-spacing: 3px;
}

.about__body {
  display: flex;
}

.about__photo {
  width: 250px;
  height: 370px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 60px 100px;
  text-align: center;
}

.about__photo-dark {
  width: 250px;
  height: 370px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 60px 100px;
  text-align: center;
  background-color: rgb(109, 109, 109);
}

.about__photo-profile {
  width: 250px;
  height: 270px;
  padding: 15px 15px 0 15px;
  margin-bottom: 10px;
}

.about__photo-react {
  width: 50px;
  height: 50px;
  margin-bottom: 7px;
}

.about__photo-js {
  width: 65px;
  height: 65px;
  margin: 0 18px 0 15px;
}

.about__photo-ts {
  width: 50px;
  height: 50px;
  margin-bottom: 7px;
}

.about__content {
  width: 550px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 120px 100px;
  border-radius: 0.25rem;
}

.about__content-head {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}

.circle__red {
  float: left;
  margin: 10px 0 10px 15px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(237, 76, 92);
  border-radius: 100%;
}

.circle__yellow {
  float: left;
  margin: 10px 10px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(253, 203, 88);
  border-radius: 100%;
}

.circle__green {
  float: left;
  margin: 10px 0;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(120, 177, 89);
  border-radius: 100%;
}

.about__content {
  line-height: 1.7;
}

.about__content-body {
  margin: 25px;
  font-size: 25px;
}

.about__content-tail {
  margin: 25px;
}
