#footer__container {
  background-color: rgb(31, 31, 31);
  width: 100%;
  height: 130px;
  text-align: center;
}

.footer__icon {
  padding-top: 50px;
}

.footer__icon a {
  cursor: pointer;
}

.footer__icon i {
  color: white;
  font-size: 23px;
  margin: 0 15px;
}

.footer__text {
  color: white;
  margin-top: 20px;
  font-size: 12px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
